<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header>
        <div class="header_logo">
            <img src="/images/logo.png" alt="logocraftsy">
            <a href=""><i class="fa-solid fa-bars"></i>
        </div>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="'registro">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="home_main">
        <section class="home_main_productos">
            <article class="home_main_article_productos">
                <img src="/images/img-phone-01.jpg" alt="imgphone1">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere voluptates
                    natus vitae neque et iure qui!</p>
                <a href="">Ver mas</a>
            </article>
            <article class="home_main_article_productos">
                <img src="/images/img-phone-02.jpg" alt="imgphone1">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere voluptates
                    natus vitae neque et iure qui!</p>
                <a href="">Ver mas</a>
                </article>
                <article class="home_main_article_productos">
                    <img src="/images/img-phone-03.jpg" alt="imgphone1">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere
                        voluptates natus vitae neque et iure qui!</p>
                    <a href="">Ver mas</a>
                </article>
                <article class="home_main_article_productos">
                    <img src="/images/img-phone-01.jpg" alt="imgphone1">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere
                        voluptates natus vitae neque et iure qui!</p>
                    <a href="">Ver mas</a>
                </article>
                <article class="home_main_article_productos">
                    <img src="/images/img-phone-02.jpg" alt="imgphone1">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere
                        voluptates natus vitae neque et iure qui!</p>
                    <a href="">Ver mas</a>
                </article>
                <article class="home_main_article_productos">
                    <img src="/images/img-phone-03.jpg" alt="imgphone1">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis hic beatae facere
                        voluptates natus vitae neque et iure qui!</p>
                    <a href="">Ver mas</a>
                </article>
        </section>
        <aside class="home_main_aside">
            <h2>Tutoriales</h2>
            <section class="home_main_aside_section">
                <article>
                    <img src="/images/aside-01.jpg" alt="aside01">
                    <p>titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <img src="/images/aside-02.jpg" alt="aside01">
                    <p>titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <img src="/images/aside-03.jpg" alt="aside01">
                    <p>titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <img src="/images/aside-04.jpg" alt="aside01">
                    <p>titulo de tutorial de reparacion</p>
                </article>
            </section>
            <h2>Publicidad</h2>
            <section class="home_main_aside_section_publicidad">
                <img src="/images/ad-01.jpg" alt="publicidad 1">
                <img src="/images/ad-02.jpg" alt="publicidad 2">
            </section>
        </aside>
    </main>

</body>

</html>